<?xml version="1.0"?>

<clickhouse>
    <profiles>
        <default>
            <max_memory_usage>10000000000</max_memory_usage>
            <max_concurrent_queries_for_user>10</max_concurrent_queries_for_user>
            <max_threads>4</max_threads>
            <max_result_rows>1000000</max_result_rows>
            <max_result_bytes>10000000000</max_result_bytes>
            <max_bytes_in_set>10000000000</max_bytes_in_set>
            <max_rows_in_join>1000000</max_rows_in_join>
            <max_bytes_before_external_group_by>8000000000</max_bytes_before_external_group_by>
        </default>
    </profiles>
</clickhouse>
